@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --svg-color-light: #000;
  --svg-color-dark: #fff;
  --foreground-color: #000;
  --background-color: #fff;
  --dropdown-bg-color-light: #ffffff;
  --dropdown-bg-color-dark: #2d2d2d;
  --dropdown-text-color-light: #000000;
  --dropdown-text-color-dark: #ffffff;
}

[data-theme="light"] {
  --foreground-color: #000;
  --background-color: #fff;
  --svg-color: var(--svg-color-light);
  --dropdown-bg-color: var(--dropdown-bg-color-light);
  --dropdown-text-color: var(--dropdown-text-color-light);
}

[data-theme="dark"] {
  --foreground-color: #fff;
  --background-color: #000;
  --svg-color: var(--svg-color-dark);
  --dropdown-bg-color: var(--dropdown-bg-color-dark);
  --dropdown-text-color: var(--dropdown-text-color-dark);
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
